* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333; 
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #555; 
}
#logo {
    display: block;
    width: 15%; 
    height: auto; 
    margin: 0 auto; 
}

.producto {
    width: 20%;
    float: left;
    border: 45px solid #41CE100;
    background-color: #05614D;
    color: black; 
    margin: 10em;
    height: 20em;
    text-align: center;
    padding: 3em;
    border-radius: 8px;
	font-size: 20px;
}
.producto a {
    color: inherit;
    text-decoration: none;
}
.producto a:hover {
    color: #fff; 
}

.precio
{
	width:90%;
	margin:auto;
	background-color:#fff;
	Color:#000;
	margin-bottom:1em;
}
.contacto {
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 20px;
    margin-bottom: 20px;
    background-color: #05614D; 
	font-size: 20px;
}

.contacto a {
    text-decoration: none;
    color: #333; 
}
.contacto a:hover {
    color: #fff; 
}
.contacto img {
    display: block; 
    width: 200px; 
    height: auto; 
    margin: auto; 
}

.envios {
    border: 2px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
    background-color: #05614D; 
	font-size: 20px;
}

.envios a {
    text-decoration: none; 
    color: #333; 
    display: block;
    margin-bottom: 10px; 
}

.envios a:hover {
    color: #fff; 
}

.envios img {
    display: block;
    width: 200px; 
    height: auto; 
    margin: auto; 
}

.enlace-politica p {
    margin-bottom: 20px; 
}

.enlace-politica a {
	border: 2px solid #ccc; 
    display: block;
    background-color: #05614D; 
    padding: 20px; 
    border-radius: 8px; 
    text-decoration: none; 
    color: black; 
	font-size: 20px;
}
.enlace-politica a:hover {
    color: #fff; 
}

.enlace-politica img {
    display: block; 
    width: 200px; 
    height: auto; 
    margin: auto; 
}
